<div class="gridy">
  <div class="area right-top">
    <app-logoz></app-logoz>
  </div>
  <div class="area cover">
    <img src="assets/pics/bg-cover-1.jpg" alt="" />
  </div>
  <div class="area right-bot">
    <!-- <button routerLink="/zamadmin">TEST</button> -->
    <ng-container *ngIf="postService.lastPost$$ | async as POST">
      <div (dblclick)="router.navigate(['/zamadmin'])" class="box-posts">
        <div class="post">
          <div class="divider-vert"></div>
          <span class="title">{{ POST.msg }}</span>
        </div>
      </div>
    </ng-container>
    <!-- <ng-container *ngIf="postService.lastPost$$ | async as POSTS">
      <div class="box-posts" [@staggerListAnimation]="POSTS.length">
        <ng-container *ngFor="let post of POSTS">
          <div class="post">
            <div class="divider-vert"></div>
            <span class="title">{{ post.msg }}</span>
          </div>
        </ng-container>
      </div>
    </ng-container> -->
  </div>
  <div class="area tr">
    <ng-container *ngIf="rssFeed.polisaFeed$ | async as POLISA">
      <div class="box-polisa" [@staggerListAnimation]="POLISA">
        <ng-container *ngFor="let koteret of POLISA">
          <div class="koteret">
            <div class="divider-vert"></div>
            <span class="title">{{ koteret.title }}</span>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="area bot">
    <div class="box">
      <div class="banner" [style.left.px]="lefty$$ | async">
        <ng-container *ngIf="rssFeed.ynetFeed$ | async as YNET">
          <ng-container *ngFor="let koteret of YNET">
            <div class="koteret" #kot>
              <span class="date">{{
                koteret.pubDate | date: "HH:mm":"GMT +2"
              }}</span>
              <span class="divider">></span>
              <span class="title">{{ koteret.title }}</span>
              <div class="divider-vert"></div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
