/* You can add global styles to this file, and also import other style files */
@import "./reset.scss";
@import "./basis";
@import "~./cmixins";

@font-face {
  font-family: "Assistant-Regular";
  src: url(./assets/fonts/Assistant-Regular.ttf) format("opentype");
}
html {
  direction: rtl;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Assistant-Regular", Sans-serif;

  @include contrasted($c-p-1);

  &.daily {
    transition: all 1s;
    @include contrasted($f-p);
    .cls-5 {
      fill: $c-p-1;
    }
  }
  &.nighty {
    transition: all 1s;
    @include contrasted($c-p-1);
    .cls-5 {
      fill: $f-p;
    }
  }

  // background-color: #1b1b34;
  // color: #fff;
  line-height: normal;
}
