/* You can add global styles to this file, and also import other style files */
@import "./reset.scss";
@import "./basis";
@import "~./cmixins";

@font-face {
  font-family: "Assistant-Regular";
  src: url(./assets/fonts/Assistant-Regular.ttf) format("opentype");
}
html {
  direction: rtl;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Assistant-Regular", Sans-serif;

  @include contrasted($c-p-1);
  line-height: normal;
}
